Django==4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
python-decouple
python-dotenv
dj-database-url

gunicorn
whitenoise

psycopg2-binary

numpy
scikit-learn
joblib
pandas
scipy
firebase-admin

pdfplumber
pdfminer.six

requests

urllib3